@model IEnumerable<GitHub.Models.Topic>
@{
    ViewBag.Title = "Home Page";
}

<div class="message-header">
    <h1>Message Board</h1>
    <p class="lead">Latest Messages ...</p>
</div>
<div class="messages">
    <div class="message row">
        <div class="title span10">The Title</div>
        <div class="date span2">April 7 2017</div>
        <div class="contents span12"></div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies"></div>
    </div>
    <div class="message row">
        <div class="title span10">The Title</div>
        <div class="date span2 pull-right">April 7 2017</div>
        <div class="contents span12"></div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies">
            <div class="reply">
                <div class="created pull-right">April 1 2017</div>
                <div class="content">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
            </div>
            <div class="reply">
                <div class="created pull-right">April 1 2017</div>
                <div class="content">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
            </div>
        </div>
    </div>
    <div class="message row">
        <div class="title span10">The Title</div>
        <div class="date span2">April 7 2017</div>
        <div class="contents span12"></div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies"></div>
    </div>
    <div class="message row">
        <div class="title span10">The Title</div>
        <div class="date span2">April 7 2017</div>
        <div class="contents span12"></div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies"></div>
    </div>
    <div class="message row">
        <div class="title span10">The Title</div>
        <div class="date span2">April 7 2017</div>
        <div class="contents span12"></div>
        <div class="toolbar span12"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
</div>

@foreach (var topic in Model)
{
    <div>@topic.Title</div>
    <div>@topic.Body</div>
    <div>@topic.Created</div>
}

